NEXT_PUBLIC_SUPABASE_URL=https://arepgpevmnwqsonxutbl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFyZXBncGV2bW53cXNvbnh1dGJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4NDcwNDUsImV4cCI6MjEwNDQyMzA0NX0.UNhKxGJoRcK3EkwRjwb5eLOajJUKrYuiXcpujPyW3z8
